<<<<<<< Updated upstream:app/views/home/index.html.erb
<h1>welcome to instagram</h1>
=======
<div class="container-sm">
  <div class="container align-content-center">
    <div class="row">
      <div class="col">
        <%= image_tag 'undraw_Social_share_re_qb4v (1).png', :style => "width:1000px; height:700px"%>
      </div>
      <div class="col mt-5">
        <div class="card mt-5">
          <div class="card-body">
          <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-secondary" %>
          <%= link_to 'Sign In', new_user_session_path, class: "btn btn-dark" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
>>>>>>> Stashed changes:app/views/home_page/index.html.erb
