<div class="container">
  <div class="panel panel-danger">
    <div class="panel-body">
      <%= render 'showpage',locals: {post: @post} %>
    </div>
    <% if current_user == @user%>
      <%= link_to 'Back', posts_path, class:"btn btn-default mt-3" %>
    <% else %>
      <%= link_to 'Back', users_path, class:"btn btn-default mt-3" %>
    <%end%>
  </div>
</div>

